@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*--------------------------------------------Colors*/


h1,
h2,
h3,
h4,
h5 {
    text-align: center;
    margin: 0;
    color: white;
}

.a{
    color: #f9ff01;
}


.list-inline-item{
    color: #f9ff01;
}

.navbar {
    position: relative;
    align-items: center;
     background-color: #525252;
     font-size: 20px;
}


.bg-color-name-title{
    font:Exo;
    background-color: #525252;
   
}

.ui-menu-color-bookings{
    background-color: grey;
    height:80px;
}


.ui-menu-color-music{
    background-color: grey;
    height:80px;
}

.ui-menu-color-bandmembers{
    background-color: grey;
    height:80px;
}


.ui-menu-color-review{
    background-color: grey;
    height:80px;
}

/*--------------------------------------------Special Paddings/Margins/Text*/

.img {
    align-items: flex-end;
}

.card{
    width: 100%;
    height: auto;
}

.ul{
    list-style: none;
}


.list-inline{
    padding-left: 0;
    display: inline;
}

.row-table{
    width: 100%;
    background-color: grey;
    margin: 0;
}


.row-table1{
    width: 100%;
    margin: 0;
}

.bandinfo{
    background-color: grey;
    padding-top: 20px;
}

.vplayer{
    background-color: grey;
    
}


.soclinks{
  float: right;
  
}
.follow{
    float: right;
}

.copyright{
    float: left;
}

.container{
    width: 100%; display: table;
} 



.article{
    text-align: center;
    background-color: #525252;
}

/*--------------------------------------------Caldender*/








/*--------------------------------------------Heading*/

header {
    margin: 0;
    padding: 0;
    background-color: grey;
}


/*--------------------------------------------Footer*/

footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 60px;
    margin: 0;
    width: 100%;
    bottom: 0;
}

